RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ([a-zA-Z0-9αινσϊηγυβκτΑΙΝΣΪρ!?:._,]*)/?([a-zA-Z0-9αινσϊηγυβκτΑΙΝΣΪρ!?:._,]*)/?([a-zA-Z0-9αινσϊηγυβκτΑΙΝΣΪρ!?:._,]*) index.php?busca=$1&filtro=$2&completa=$3 [L]

