Options -Indexes

AddEncoding gzip .html

RewriteEngine On

RewriteCond @root@/cache/index\.html -s
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^/?$ cache/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) cache/$1

RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php [L]
